<%= form_with(url: "/set-goal", method: "post") do %>
  <br>
  <p class="center">
    I want to 
    <%= select_tag "category", raw("<option>meditate</option><option>write</option>")%> for 
    <%= number_field_tag(:num_days) %> days. <br><br>

    <%= submit_tag("Set Goal", class: "btn btn-outline-dark btn-sm mr-5") %>
  </p>

<% end %>

<br>