<%= form_with(url: "/set-goal", method: "post") do %>
  I want to 
  <%= select_tag "category", raw("<option>meditate</option><option>write</option>")%>
  <%= number_field_tag(:num_days) %> days. <br>

  <%= submit_tag("Set Goal") %>
<% end %>

<br>