<h4><%= flash[:notice] %></h4>

<h1>Welcome to Journalize</h1>

<p>Journalize is designed to help you reduce stress through self-expression and mindfulness meditation. Please select an option from below: </p>

<%= button_to "Register", signup_path, method: :get %>

<%= button_to "Log In", login_path, method: :get %>

<%= button_to "About", about_path, method: :get %>