<h1>Welcome to Journalize</h1>

<p>Journalize is designed to help you unclutter your mind and be present in the moment through writing and meditating. Please select an option from below:</p>


<%= button_to "Register", signup_path, method: :get %>

<%= button_to "Log In", login_path, method: :get %>