<br>
<h1>About</h1>
<hr>
<i>Stress.</i> It is a universal byproduct of living in our modern world, where deadlines, headlines, and sometimes, long waits in lines can seem to pour onto our already overflowing bucket of things to tend to. Sometimes, stress is helpful in propelling us to get things done. However, <strong>when left unchecked, chronic stress is a major contributing factor to a host of psychological and physiological problems. <br><br>

The long list includes--</strong>
<ul>
  <li>Hypertension</li>
  <li>Heart disease</li>
  <li>Diabetes</li>
  <li>Obesity</li>
  <li>Depression</li>
  <li>Anxiety</li>
</ul>


We keep our physical body healthy by doing things such as going to the gym and taking needed vitamins. <strong>Why not do the same with our mind?</strong><br><br>

<strong>That’s where Zen Pen comes in.</strong><br><br>

Among the best stress reduction techniques, <strong>self-expression</strong> and <strong>mindfulness meditation</strong> are often found at the top of the list. Why? <i>Self-expression,</i> particularly through writing, helps people <%= link_to "process their thoughts", "https://www.health.harvard.edu/healthbeat/writing-about-emotions-may-ease-stress-and-trauma"%> and grant meaning to adverse experiences. The act of making sense of what happened helps free oneself of ruminations. It also leads to social connections because people who open up to themselves privately about adverse events are more likely to open up to others about them. 

<i>Meditation,</i> too, has a <%= link_to "myriad of research", "https://www.healthline.com/nutrition/12-benefits-of-meditation"%> to support its benefits in stress reduction, anxiety control, and emotional health promotion. Like with anything, <strong>consistency is the key.</strong> So visit <strong>Zen Pen</strong> often, untangle your thoughts by free-writing, or with the use of our prompts, and ground yourself in the present moment through the power of meditation.

<br><br><br><br><br>

