<ul class="nav justify-content-end">

    <li class="nav-item"><%= link_to "Log In", login_path, class: "btn btn-default mr-4" %></li>

    <li class="nav-item"><%= link_to "Register", signup_path, class: "btn btn-default mr-1" %></li>

</ul>