<ul class="nav mr-auto">
    <%= render partial: 'layouts/nav/nav_link', locals: {display_name: "Home", path: root_path} %>
    <%= render partial: 'layouts/nav/nav_link', locals: {display_name: "About", path: about_path} %>
</ul>

<ul class="nav justify-content-end">

    <li class="nav-item"><%= link_to "Log In", login_path, class: "btn btn-default mr-4" %></li>

    <li class="nav-item"><%= link_to "Register", signup_path, class: "btn btn-default mr-1" %></li>

</ul>