<nav class="navbar navbar-light" style="background-color: #fdede4" >

  <a class="navbar-brand" href="<%= root_path %>">
    <img src="https://img.icons8.com/fluent/48/000000/journal.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">Journalize
  </a>

  <%= render partial: 'layouts/nav/logged_in' if current_user %>

  
  <%= render partial: 'layouts/nav/logged_out' if !current_user %>

</nav>

