<footer class="navbar fixed-bottom navbar-light footer-test" style="background-color: #FBE0C3" >

  <div class="mx-auto">© 2020 Copyright:
    <a href="<%= root_path %>"> zenpen.com</a>
  </div>

</footer>