<div>
<h2 class="mb-0"><%= link_to post.title, post %></h2>

<% if !post.tags.blank? %>
    <% post.tags.pluck(:name).each do |tag| %>
        <span class="badge badge-tag"><%= tag %></span>
    <% end %>
<% end %>
<br>
<small><%= post.content %></small>
<br><br>
</div>