<h2><%= link_to post.title, post %></h2>

<% if !post.tags.blank? %>
    Tags: 
    <% post.tags.pluck(:name).each do |tag| %>
        <%= tag %>
    <% end %>
<% end %>

<p><%= post.content %></p>
<br>