<%= form_with url: posts_path, method: :get, local: true do |f| %>

    <select class="custom-select" name="by">
        <option value="content" selected="selected">Content</option>
        <option value="tag">Tag</option>
        <option value="title">Title</option>
    </select>

    <%= f.text_field :search %>

    <%= f.submit "Search", class: "btn btn-outline-dark btn-sm search" %>

<% end %>