/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

.btn-default {
    background-color: #7D8E95;
    color:#FFF;
    border-color: #2F3E48;
}
 
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #2F3E48;
    color:#FFBB98;
    border-color: #344648;
}

h1 {
    color: #344648;
    font-family: 'Shadows Into Light Two', cursive;
    text-align: center;
}

.badge-tag {
    background-color: #FBE0C3;
}

.errors {
    color: #FFBB98;
    font-size: small;
}

.truncate {
    overflow: hidden;
    display: block;
    height: 70px;
    white-space: normal;
    text-overflow: ellipsis;
}

.tag-color {
    color: #344648;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container-primary {
    background-color: #ffffff;
    width: 800px;
    height: 100vh;
    margin: auto;
    position: relative;
}

#banner {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.button-row {
    display: flex;
}

.big-button {
    flex: 33%;
    text-align: center;
    background-color: #f3c099;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 30px;
    font-family: 'Shadows Into Light Two', cursive;
    border-radius: 25px;
    background: linear-gradient(45deg,  #f3c099, #eebea6);
    a {
        color: white;
      }
    a:hover {
        color:#3f3737;
        text-decoration: none;
    }
}
.small-button-row {
    display: flex;
    width: 450px;
    margin: auto;
}

.small-button {
    flex: 50%;
    text-align: center;
    background-color: #f3c099;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    font-family: 'Shadows Into Light Two', cursive;
    border-radius: 25px;
    background: linear-gradient(45deg,  #f3c099, #eebea6);
    a {
        color: white;
      }
    a:hover {
        color:#3f3737;
        text-decoration: none;
    }
}

a {
    color: #f7685c;
}

a:hover {
    color:#3f3737;
    text-decoration: none;
}

.center {
    text-align: center;
    margin: auto;
}

.fixed-bottom {
    position: fixed;
    width: 800px;
    margin: auto;
}

.message {
    color: #f7685c;
}

.post-options {
    font-size: 14px;
}

.btn-outline-dark:hover {
    background-color: #FBE0C3;
    color: #344648;
}

.btn-outline-custom {
    border-color: #344648;
    color: red;
}

.btn-outline-custom:hover {
    border-color: red;
    background-color: #FBE0C3;
    color: red;
}

.to-left {
    margin-right: 44%
}

.progress-bar {
    width: 30%; 
    height: 15px;
    background-color: #ddd; 
    border-radius: 25px;
}

.filler {
    text-align: right; 
    padding-top: 10px; 
    padding-bottom: 10px;
    color: white;
    background-color: #f3c099;
}